


@font-face {
    font-family: 'ZBgrotesk2-Regular';
    src: url('./fonts/ZBgrotesk2-Regular.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}

@font-face {
    font-family: 'ZBgrotesk2-Book';
    src: url('./fonts/ZBgrotesk2-Book.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}





/* BODY */

.body {
    background-color: rgb(200, 200, 200);
   
}




/* ABOUT */


label {
    position:fixed;
}

.about {
    color: black !important;
    font-size: 30px;
    font-family: "ZBgrotesk2-Book", sans-serif;
    text-decoration: none !important;
	text-align: left;
	position: fixed;
    display: block;
    top: 27px;
    left: 35px;
    z-index: 9999;
      
}
    
        



.about:checked {
    display:block;
    position: fixed;
       
}

#about:hover~label{
    
    display: block;
    color: rgb(255,125,0);
    cursor: pointer;
   
}
  

#about:checked~label{
    
    text-decoration: underline;
    position: fixed;
    color: rgb(255,125,0);
   
}
   


input[id=about] {
    display:none;

}

#content{
    background-color: rgb(255,125,0);
    display: none;
    position: absolute;
    width: 600px;
    padding: 30px;
    left: 250px;
    margin-bottom: 45px;
     
}

#about:checked~#content{
    
    display: block;
    font-size: 30px;
    text-align: left;
    top: 100px;
    cursor: default;
    padding: 25px;
    padding-bottom: 35px;
    font-family: "ZBgrotesk2-regular", sans-serif;
        
}

 
    


/* IMAGES */


.imagewrapper {
    
    padding-top: 40px;
    display: block;
}

#futuremain {
    
    display: block;
    padding-left: 20px;
    float: left;
    width:100%;
}

#future {
    
    display: block;
    padding-right: 35px;
    float: right;
}

#futuredetail {
    position: absolute;
    display: block;
    padding-top: 555px;
    right:55px;
    width:25%;
    z-index: -999;
}

#futuredetail2 {
    
    display: block;
    position: relative;
    padding-top: 1000px;
    left:15%;
    width:50%;
}














/* BACK */

.back {
    display:block;
}

.back a {
    color: black;
    text-decoration: none;
    font-family: "ZBgrotesk2-Book", sans-serif;
    font-size: 30px;
    top:27px;
    right: 35px;
    position: fixed;
}


.back a:hover {
    color: rgb(255,125,0)
   }