@font-face {
    font-family: 'ZBgrotesk-Regular';
    src: url('./fonts/ZBgrotesk-Regular.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}

@font-face {
    font-family: 'ZBgrotesk-Book';
    src: url('./fonts/ZBgrotesk-Book.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}




/* BODY */

.body {
    background-color: rgb(255, 255, 255);
   
}




/* ABOUT */

.about {
    color: black;
    text-decoration: none !important;
    font-family: "ZBgrotesk-Book", sans-serif;
    font-size: 30px;
    bottom:27px;
    right: 35px;
    position: fixed;
    z-index: 2;
}
    
        
.about:hover {
    color: rgb(238,252,144);    
}


.about:checked {
    display:block;
    
    
       
}


#about:checked~label{
    
    text-decoration: underline;
    color: rgb(238,252,144);
     
}

input[id=about] {
    display:none;
    
   

}

#content{
    background-color:none;
    display: none;
    position: absolute;
    width: 80%;
    left: 35px;
    margin-bottom: 45px;

      
}



#about:checked~#content{
    display: block;
    position: fixed;
    font-size: 55px;
    text-align: left;
    top: 2px;
    cursor: default;
    padding: 25px;
    padding-bottom: 35px;
    font-family: "ZBgrotesk-Regular", sans-serif;
    color: rgb(238,252,144); 
    
    
}


   
        
    
}

/* left */


.left {
    float:left;
    padding-left: 40px;
    height: 50%;
    width: 45%;
    padding-bottom: 200px;

}

.left a {
    color: black;
    font-size: 3.5em;
    font-family: "ZBgrotesk-Regular", sans-serif;
    text-decoration: none !important;
    
}


.left a:hover, .one a:focus {
    color: rgb(238,252,144); 
   }




/* right */


.right {
    float:right;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 200px;

    

}

.right a {
    color: black;
    font-size: 3.5em;
    font-family: "ZBgrotesk-Regular", sans-serif;
    text-decoration: none !important;
    
}


.right a:hover, .one a:focus {
    color: rgb(238,252,144);
   }


.row:after {
    content: "";
    display: table;
    clear; both;
}
/* GIF */


