@font-face {
    font-family: 'ZBgrotesk2-Regular';
    src: url('./fonts/ZBgrotesk2-Regular.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}

@font-face {
    font-family: 'ZBgrotesk2-Book';
    src: url('./fonts/ZBgrotesk2-Book.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}

body {
    
    background-color: rgb(255,255,255);
    
}







/* SLIDER */



.outer {
    position: fixed;
    left: 50%;
    height: 100%;
   
}

.slider { 
    position: relative;
    left: -50%; 
    height: 100%;
    cursor: pointer;
   
}





/* ABOUT */

.about {
    color: black !important;
    font-size: 30px;
    font-family: "ZBgrotesk2-Book", sans-serif;
    text-decoration: none !important;
	text-align: left;
	position: fixed;
    display: block;
    top: 27px;
    left: 35px;
    cursor: default;
    z-index: 2;
  
    
    
}
    
        

.

.about:checked {
    display:block;

     
    
    
       
}


input[id=about] {
    display:none;
    
   

}

#content{
    background-color: rgb(255,125,0);
    display: none;
    position: fixed;
    width: 600px;
    padding: 30px;
    left: 250px;
    margin-bottom: 45px;
          
}

#about:checked~#content{
    
    display: block;
    position: relative;
    font-size: 30px;
    text-align: left;
    top: 100px;
    cursor: default;
    padding: 25px;
    padding-bottom: 35px;
    font-family: "ZBgrotesk2-Regular", sans-serif;
    
}

#about:hover~label{
    color: rgb(255,125,0);    
}

#about:checked~label{
    
    text-decoration: underline;
    position: fixed;
    color: rgb(255,125,0)
    
    
    
}


/* BACK */

.back {
    display:block;
}

.back a {
    color: black;
    text-decoration: none;
    font-family: "ZBgrotesk2-Book", sans-serif;
    font-size: 30px;
    top:27px;
    right: 35px;
    position: fixed;
}


.back a:hover {
    color: rgb(255,125,0);
   }
