font-face {
    font-family: 'afgangitalic';
    src: url('.custom typefaces/afgang-regularitalic-webfont.woff2') format('woff2'),
	     url('.custom typefaces/afgang-regularitalic-webfont.eot') format('eot'),
		 url('.custom typefaces/afgang-regularitalic-webfont.ttf') format('ttf'),
         url('.custom typefaces/afgang-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afgangitalic';
    src: url('.custom typefaces/afgang-regular-webfont.woff2') format('woff2'),
	     url('.custom typefaces/afgang-regular-webfont.eot') format('eot'),
		 url('.custom typefaces/afgang-regular-webfont.ttf') format('ttf'),
         url('.custom typefaces/afgang-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.body {
    background-color: rgb(255, 255, 255);
   
}

#preload { display: none; }

/* ABOUT */

.about {
    color: black !important;
    font-size: 30px;
    font-family: "roboto", sans-serif;
    text-decoration: none !important;
	text-align: left;
	position: fixed;
    display: block;
    bottom: 70px;
    right: 70px;
    transform: rotate(-90deg);
    cursor: default;
}
    
        



.about:checked {
    display:block;
    
       
}


input[id=about] {
    display:none;
    
   

}

#content{
    display: none;
    position: fixed;
    width: 300px;
    padding: 150px;
    bottom: 200px;
    left: 300px;
      
}

#about:checked~#content{
    display: block;
    position: fixed;
    font-size: 18px;
    text-align: left;
    top: -155px;
    cursor: default;
    transform: rotate(90deg);
    padding: 5px;
    
    
}


/* RADIO */

input[id=cb] {
  display: none;
  
}

input[id=cb]:checked~#gdfb {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}

input[id=cb]:checked~#compo {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}




input[id=cb]:checked + label {
  color: 0000;
  font-weight: 900;
}     


input[id=cb2] {
  display: none;
}

input[id=cb2]:checked~#quick {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
  
}

input[id=cb2]:checked~#zicht1 {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
  
}

input[id=cb2]:checked~#afgang {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}

input[id=cb2]:checked~#miki {
  text-decoration: line-through;
  pointer-events: none;
  cursor: default;
}

input[id=cb2]:checked + label {
  color: 0000;
  font-weight: 900;
}   


input[id=cb3] {
  display: none;
}
input[id=cb3]:checked + label {
  color: 0000;
  font-weight: 900;
}     


label {
  border: none;
  padding-left: 0px;
  padding-top: 10px;    
  display: inline-block;
  margin-top: 5px;
  text-align: center;
  font-family: "roboto", sans-serif;
  padding-left: 
    

}




/* ONE */


.one {
    padding-left: 70px;
    padding-top: 40px;

}

.one a {
    color: black;
    font-size: 70px;
    font-family: afgang-regular;
    text-decoration: none !important;
    
}


.one a:hover, .one a:focus {
    font-family: afgang-regularitalic; 
   }





#DasBild {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
	left: 25%;
	top: 55px;
    z-index:-9999;
}

#Bild {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
	background-position: center;
	top: 35px;
    z-index:-9999;
}




/*
#hover a span {
    display: none 
        }
#hover a:hover span {
    display: block;
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 25%;
	top: 35px;
    z-index:-9999;
    
}



#zichtbaar a span { 
	display: none; 
    background-image: url("https://jepen84.github.io/github.io/images/ice_t.gif");
    background-size: contain;
    background-position: fixed;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 25%;
	top: 35px;
    z-index:-9999;
    
}


#zichtbaar a:hover span { 
	display:block; 
} 

*/

#compo a span { 
	display:none; 
    background-image: url("https://jepen84.github.io/github.io/images/compo.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 0%;
	top: 0%;
    z-index:-9999;
}


#compo a:hover span { 
	display:block;
}

#afgang a span { 
	display:none; 
    background-image: url("https://jepen84.github.io/github.io/images/ottoface.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 0;
	top: 0;
    z-index:-9999;
}


#afgang a:hover span { 
	display:block;
}


    #miki a span { 
	display:none; 
    background-image: url("http://www.jeppependrup.com/wp-content/uploads/2016/06/hum8.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 0;
	top: 0;
     z-index:-9999;
}


#miki a:hover span { 
	display:block;
}



    #gdfb a span { 
	display:none; 
    background-image: url("https://jepen84.github.io/github.io/images/russia.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
	left: 0;
	top: 0;
    z-index:-9999;
}


#gdfb a:hover span { 
	display:block;
}
