@font-face {
    font-family: 'afgangitalic';
    src: url('.fonts/afgang-regularitalic-webfont.woff2') format('woff2'),
	     url('.fonts/afgang-regularitalic-webfont.eot') format('eot'),
		 url('.fonts/afgang-regularitalic-webfont.ttf') format('ttf'),
         url('.fonts/afgang-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afgangitalic';
    src: url('.fonts/afgang-regular-webfont.woff2') format('woff2'),
	     url('.fonts/afgang-regular-webfont.eot') format('eot'),
		 url('.fonts/afgang-regular-webfont.ttf') format('ttf'),
         url('.fonts/afgang-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.one a {
    color: black;
    font-size: 40px;
    font-family: afgang-regular;
    text-decoration:  none !important;
}



#Zichtbaar a span { 
	display:none; 
    background-image: url("https://jepen84.github.io/github.io/images/bubblesrant.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#Zichtbaar a:hover span { 
	display:block;
}

#afgang a span { 
	display:none; 
    background-image: url("https://jepen84.github.io/github.io/images/ottoface.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#afgang a:hover span { 
	display:block;
}


    #miki a span { 
	display:none; 
    background-image: url("http://www.jeppependrup.com/wp-content/uploads/2016/06/hum8.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#miki a:hover span { 
	display:block;
}

