.one a {
    color: black;
    font-size: 40px;
    font-family: serif;
    text-decoration:  none !important;
}


#Zichtbaar a span { 
	display:none; 
    background-image: url("github.io/images/ottoface.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#Zichtbaar a:hover span { 
	display:block;
}

#afgang a span { 
	display:none; 
    background-image: url("http://www.jeppependrup.com/wp-content/uploads/2016/06/hum7.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#afgang a:hover span { 
	display:block;
}


    #miki a span { 
	display:none; 
    background-image: url("http://www.jeppependrup.com/wp-content/uploads/2016/06/hum8.jpg");
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    width: 100%;
  	height: 100%;
    z-index:-100;
	left: 0%;
	top: 0%;
     z-index:-9999;
}


#miki a:hover span { 
	display:block;
}

