@font-face {
    font-family: 'ZBgrotesk2-regular';
    src: url('https://jepen84.github.io/github.io/fonts/ZBgrotesk2-Regular.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}


@font-face {
    font-family: 'ZBgrotesk2-Book';
    src: url('./fonts/ZBgrotesk2-Book.woff2') format('woff2');
         font-weight: normal;
    	 font-style: normal;

	
}



/* ABOUT */

.about {
    color: black !important;
    font-size: 30px;
    font-family: "ZBgrotesk2-Book", sans-serif;
    text-decoration: none !important;
	text-align: left;
	position: fixed;
    display: block;
    top: 27px;
    left: 35px;
    cursor: default;
    z-index: 90;
  
    
    
}
    
        



.about:checked {
    display:block;

     
    
    
       
}


input[id=about] {
    display:none;
    
   

}

#content{
    background-color: rgb(255,125,0);
    display: none;
    position: relative;
    width: 600px;
    padding: 30px;
    left: 250px;
    margin-bottom: 45px; 
      
}


#about:checked~#content{
    
    display: block;
    position: fixed;
    font-size: 30px;
    text-align: left;
    top: 100px;
    cursor: default;
    padding: 25px;
    padding-bottom: 35px;
    font-family: "ZBgrotesk2-regular", sans-serif; 
   
    
}

#about:checked~label{
    
    text-decoration: underline;
    position: fixed;
    
}


/* BACK */


#back {
    color: black !important;
    text-decoration: none !important;
    font-family: "ZBgrotesk2-Book", sans-serif;
    font-size: 30px;
    top:27px;
    right: 35px;
    position: fixed;
}


/* LEFT RIGHT MIDDLE */

.left, .right, .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: scroll;
    padding-top: 40px;
    z-index: -1;
    

}


.left {
    left: 0;
    width: 33.4%;

   
}

.middle {
    left: 33.3%;
    width: 33.4%;
    
}



.right {
    right: 0;
    width: 33.4%; 

}


    


.w3-button:hover{
    font-size: 2.5em;
    top: 45%;
    text-decoration: none;
    border: none;
    background-color: none;
    cursor: pointer;

}

.w3-display-left {
    position:fixed;
    top:45%;
    left:10px;
    font-size: 2.5em;
    border: none;
    background: none;
}

    
.w3-display-right{
    position:fixed;
    top:45%;
    right:25px;
    font-size: 2.5em;
    border: none;
    background: none;
    }
    